<tr id="route-<%= route.id%>">
  <td><%= route.date %></td>
  <td><%= route.name %></td>
  <td><%= route.location %></td>
  <td><%= route.sector %></td>
  <td><%= route.grade %></td>
  <td><%= route.observation %></td>
  <td><%= link_to 'Show', route, remote: true%></td>
  <td><%= link_to 'Edit', edit_route_path(route) %></td>
  <td><%= link_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>