<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @route.date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @route.location %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @route.sector %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @route.grade %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @route.observation %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
