<p id="notice"><%= notice %></p>

<%= link_to 'Root path', root_path, data: {confirm: 'Desea volver a root_path?' }%>

<%= render partial: 'route_complete', locals: {route: @route}%>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
